.content {
  background: #fff;
  margin: 10px;
  padding: 50px;
  height: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 10px;
  }
}

.titleImg {
  width: 150px;
}

.nipInput {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #f2f2f2;
  background-image: url("../../assets/searchicon.png");
  background-size: 29px 29px;
  background-position: 8px 13px;
  background-repeat: no-repeat;
  padding: 10px 0px 10px 44px;
  border-width: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 26px;
  box-sizing: border-box;
  width: 100%;
}

p small {
  font-size: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li {
  flex-grow: 2;
  flex-basis: 300px;
  text-align: center;
  padding: 10px;
  background-color: #ebe7ff;
  margin: 5px;
  font-size: 16px;
}

.liTitle {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
