.content {
  background: #fff;
    margin: 10px;
    padding: 50px;
    height: 100%;
    text-align: center;
}

.titleImg {
    width: 150px;
}

.nipInput {
  font-family: 'Open Sans',sans-serif;
color:#000;
background-color: #f2f2f2;
background-image: url("../../assets/searchicon.png");
background-size: 29px 29px;
background-position: 8px 13px;
background-repeat: no-repeat;
padding: 10px 0px 10px 44px;
border-width:0px;
margin-top: 5px;
margin-bottom: 5px;
font-size: 26px;
box-sizing: border-box;
width: 100%;
}

table {
    width: 100%;
    padding: 5px;
    margin: 10px -7px 0px -7px;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(223, 223, 223, 0.500);
}

tr:nth-child(even) {
    background-color: rgb(180, 180, 180, 0.500);
}
